@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header header"
        "side main main"
        "footer footer footer"
    ;
    grid-template-columns: auto 80%;
    grid-template-rows: 8% auto 8%;
}

.header {
    background-color: #fbbf24;
    grid-area: header;
}

.side-bar {
    background-color: #fde047;
    grid-area: side;
}

.main-content {
    background-color: #fef08a;
    grid-area: main;
}

.footer {
    background-color: black;
    color: white;
    grid-area: footer;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 17px 50px;
}

.plus {
    --b: 4px; /* the thickness */
    width: 40px; /* the size */
    aspect-ratio: 1;
    border: 10px solid white; /* the outer space */
    background:
        conic-gradient(from 90deg at var(--b) var(--b),white 90deg,black 0) 
        calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
        calc(50%  + var(--b))   calc(50%  + var(--b));
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

.plus:hover {
    border: 10px solid black;
    background:
        conic-gradient(from 90deg at var(--b) var(--b),black 90deg,white 0) 
        calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
        calc(50%  + var(--b))   calc(50%  + var(--b));
}

@media only screen and (max-width: 600px) {
    body {
        min-height: 100vh;
        display: grid;
        grid-template-areas: 
            "header"
            "main"
            "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto, 3);
    }

    .header {
        background-color: #fbbf24;
        grid-area: header;
    }
    
    .side-bar {
        background-color: #fde047;
        grid-area: side;
    }    
    
    .main-content {
        background-color: #fef08a;
        grid-area: main;
    }
    
    .footer {
        background-color: black;
        color: white;
        grid-area: footer;
    }
}